Presentation-scrum.aux
Presentation-scrum.fdb_latexmk
Presentation-scrum.fls
Presentation-scrum.log
Presentation-scrum.nav
Presentation-scrum.out
Presentation-scrum.pdf
Presentation-scrum.snm
Presentation-scrum.synctex.gz
Presentation-scrum.toc
Source.aux
Source.fdb_latexmk
Source.log
Source.pdf
Source.synctex.gz
